<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
      <!-- 
        Importante: Este código só poderá ser removido se algum dia o Processo Seletivo for 
        vendido separadamente do Portal Corpore.Net, dessa forma as propriedades da tag forms
        deverão ser configuradas para as informações correspondentes ao Processo Seletivo.
        <authentication mode="Forms">
			    <forms name="RMAuthForm" loginUrl="Public/EduPSPublicMain.aspx" timeout="22" protection="Encryption" path="/" slidingExpiration="true"/>
		    </authentication>
      -->
    </system.web>
</configuration>